body {
    font-family: 'Corben', cursive;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow-x: hidden;
}

main {
    flex: 1 0 auto;
}

p {
    font-family: 'Muli', sans-serif;
}

pre {
    white-space: pre-wrap;
}

.parallax img {
    object-fit: contain;
}