body {
    padding: 0;
    margin: 0;
}

#map,
body,
html {
    height: 100%;
}

.popup {
    text-align: center;
}

.myDivIcon {
    text-align: center;
    /* Horizontally center the text (icon) */
    line-height: 20px;
    /* Vertically center the text (icon) */
    text-shadow: black 1px 1px 2px;
}

.src-button {
    color: red;
    box-shadow: black, 2px, 2px, 2px;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    z-index: 400;
}